<div class="container d-flex flex-column align-items-center">
  <h1 class="mt-2">Add a cocktail</h1>
  <div class="d-flex flex-column">
    <div class="form">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url, label: "Enter url for cocktail image" %>
        <%= f.submit "Create" %>
      <% end %>
    </div>
  </div>
</div>
