<div class="banner mb-3"
<% if @cocktail.photo == "cocktail-256.png" %>
    style="background-color: #ffc400;"
  <% else %>
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("<%= @cocktail.photo.to_s %>");"
  <% end %>
>
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="ingredients">
    <h2>Ingredients</h2>
    <% if @cocktail.doses.empty? %>
      <p>No ingredients given.</p>
    <% else %>
      <ul class="mt-3">
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %>: <%= dose.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
