<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center mt-2">Add a cocktail</h1>
  <div class="d-flex flex-column">
    <div class="form">
      <%= simple_form_for [@cocktail, @dose], method: :post, url: cocktail_doses_path do |f| %>
        <%= f.association :ingredient, collection: Ingredient.order(name: :asc) %>
        <%= f.input :description, label: "Enter quantity" %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
