// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cocktail-card";
@import "form";
@import "banner-cocktail-show";

a:hover {
  text-decoration: none
}

fa-trash-alt {
  font-size: 18px;
}
